<!DOCTYPE html>
<html 
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}"/> 
<title>Login</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand text-success" th:href="@{/entreprises}" >SpringBoot</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item"><a th:href="@{/entreprises}" class="nav-link">Entreprises</a></li>
		  <li class="nav-item"><a th:href="@{/taxes}" class="nav-link">Taxes</a></li>
		  <li class="nav-item"><a th:href="@{/saisie}" class="nav-link">Saisie</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right mr-5">
	     	<li><a th:href="@{/login?logout}" class="btn btn-danger" th:text="${#httpServletRequest.remoteUser}"></a></li>
	    </ul>
	    <form method="get" class="form-inline my-2 my-lg-0" >
	      <input class="form-control mr-sm-2" type="search" name="motCle" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
  </nav>
</header>
<section>
	<img src="../img/entreprise_img.jpg" class="card-img-top col-12">
	<div class="card col-4 offset-4" style="margin-top:-50%;background: #120e23e8">
	<div class="card-body" style="background: #436c9000">
		<h6 class="form-text text-danger">Access Denied 403</h6>
		<h4 class="form-text text-warning">Access Denied 403</h4>
		<h2 class="form-text text-success">Access Denied 403</h2>
	  </div>
	</div>
</section>
	
<footer >
	<div>
		<small>Made With Love</small>
	</div>
</footer>
</body>
</html>